<!DOCTYPE html>
<html>

<head>
    <title>Satisfactory Server Manager</title>
    <script defer src="/libraries/jquery/dist/jquery.min.js"></script>
    <script defer src="/libraries/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/libraries/@fortawesome/fontawesome-free/css/solid.min.css' />
    <link rel='stylesheet' href='/libraries/@fortawesome/fontawesome-free/css/fontawesome.min.css' />



    <link rel='stylesheet' href='/public/css/bootswatch.min.css' />
    <link rel='stylesheet' href='/public/css/login.min.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/public/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/public/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="container main-container">
        {{{body}}}
    </div>
</body>