<!DOCTYPE html>
<html>

<head>
    <title>Satisfactory Server Manager</title>
    <script defer src="/libraries/jquery/dist/jquery.min.js"></script>
    <script defer src="/libraries/jquery-steps/build/jquery.steps.min.js"></script>
    <script defer src="/libraries/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/libraries/datatables.net/js/jquery.dataTables.min.js"></script>
    <script defer src="/libraries/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="/libraries/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    <script defer src="/libraries/moment/min/moment.min.js"></script>
    <script defer src="/libraries/toastr/build/toastr.min.js"></script>
    <script defer src="/public/js/date-euro.js"></script>
    <script defer src="/public/js/bundle.js"></script>

    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/libraries/@fortawesome/fontawesome-free/css/solid.min.css' />
    <link rel='stylesheet' href='/libraries/@fortawesome/fontawesome-free/css/regular.min.css' />
    <link rel='stylesheet' href='/libraries/@fortawesome/fontawesome-free/css/fontawesome.min.css' />
    <link rel='stylesheet' href='/libraries/datatables.net-bs4/css/dataTables.bootstrap4.min.css' />
    <link rel='stylesheet' href='/libraries/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' />
    <link rel='stylesheet' href='/libraries/bootstrap4-toggle/css/bootstrap4-toggle.min.css' />
    <link rel='stylesheet' href='/libraries/toastr/build/toastr.min.css' />


    <link rel='stylesheet' href='/public/css/jquery.steps.css' />
    <link rel='stylesheet' href='/public/css/bootswatch.min.css' />
    <link rel='stylesheet' href='/public/css/main.min.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png?v=9B95M7ezK3">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons/favicon-32x32.png?v=9B95M7ezK3">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons/favicon-16x16.png?v=9B95M7ezK3">
    <link rel="manifest" href="/public/images/favicons/site.webmanifest?v=9B95M7ezK3">
    <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg?v=9B95M7ezK3" color="#5bbad5">
    <link rel="shortcut icon" href="/public/images/favicons/favicon.ico?v=9B95M7ezK3">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/public/images/favicons/browserconfig.xml?v=9B95M7ezK3">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/public/images/ssm_logo128.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mods">
                        <i class="fas fa-pencil-ruler"></i>
                        Mods
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logs">
                        <i class="fas fa-file-alt"></i>
                        Logs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saves">
                        <i class="fas fa-save"></i>
                        Saves
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>
            </ul>
            <div class="my-2 my-lg-0">
                <ul class="navbar-nav mr-auto rightnavbar">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-lock"></i> Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">SSM: <span id="ssm-version"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container main-container">
        {{{body}}}
        <footer class="page-footer font-small blue bg-dark">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://github.com/mrhid6/SatisfactoryServerManager"> Refined R&D</a>
                MIT License.
            </div>
            <!-- Copyright -->

        </footer>
    </div>
</body>