<div class="page-container" data-page="backups">
    <h2 class="mb-3">Backups</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Users</h5>

        </div>
        <div class="card-body">
            <table class="table table-bordered" id="users-table">
                <thead>
                    <tr>
                        <th width="100px">User ID</th>
                        <th>User Name</th>
                        <th>Role</th>
                        <th width="80px">Options</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>