<div class="page-container" data-page="backups">

    <h2 class="mb-3">Backups</h2>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Select Server</h5>
        </div>
        <div class="card-body">
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Server:</b>
                    <span class="settings-info">
                        Select a Server instance to view backups on.
                    </span>
                </div>
                <div class="col-12 col-md-6">
                    <select class="form-control" id="inp_server">
                        <option value="-1">-- Select Server --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Backups</h5>

        </div>
        <div class="card-body">
            <table class="table table-bordered" id="backups-table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Created</th>
                        <th>Size</th>
                        <th width="80px">Options</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>