<div class="page-container" data-page="dashboard">
    <div class="row page-header">
        <div class="col-12 col-md-9">
            <h3 class="mb-3">Dashboard</h3>
        </div>

        <div class="col-12 col-md-3">
            <div class="status-info-card blue">
                <div class="status-info-card-main">Servers:</div>
                <div class="status-info-card-secondary"><span id="server-count">0 / 0</span></div>
                <div class="status-info-card-icon">
                    <i class="fas fa-server"></i>
                </div>
            </div>
        </div>
    </div>

    <div id="agents-wrapper"></div>

</div>