<div class="page-container" data-page="dashboard">
    <h2 class="mb-3">Dashboard</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>SSM Server Status</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="status-info-card blue">
                        <div class="status-info-card-main">Servers:</div>
                        <div class="status-info-card-secondary"><span id="server-count">0 / 0</span></div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-server"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Select Server</h5>
        </div>
        <div class="card-body">
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Server:</b>
                    <span class="settings-info">
                        Select a Server instance to manage.
                    </span>
                </div>
                <div class="col-12 col-md-6">
                    <select class="form-control" id="inp_server">
                        <option value="-1">-- Select Server --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Satisfactory Server Status</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="status-info-card blue">
                        <div class="status-info-card-main">Status:</div>
                        <div class="status-info-card-secondary"><span id="server-status">Select An Active Server</span>
                        </div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-server"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="status-info-card orange">
                        <div class="status-info-card-main">Users:</div>
                        <div class="status-info-card-secondary">0</div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="status-info-card green">
                        <div class="status-info-card-main">Mods:</div>
                        <div class="status-info-card-secondary"><span id="mod-status">Select An Active Server</span>
                        </div>
                        <div class="status-info-card-info">Count: <span class="installed-mods">0</span></div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-pencil-ruler"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <div class="status-info-card">
                        <div class="status-info-card-main">Server CPU Usage:</div>
                        <div class="status-info-card-secondary mt-2">
                            <div id="cpu-usage" class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="status-info-card">
                        <div class="status-info-card-main">Server RAM Usage:</div>
                        <div class="status-info-card-secondary mt-2">
                            <div id="ram-usage" class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Server Control</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="tooltip-wrapper" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Tooltip on bottom">
                        <button class="btn btn-success btn-block server-action-btn" id="server-action-start">
                            <i class="fas fa-play"></i>
                            Start Server</button>
                    </div>

                </div>
                <div class="col-12 col-md-4">
                    <div class="tooltip-wrapper" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Tooltip on bottom">
                        <button class="btn btn-warning btn-block server-action-btn" id="server-action-stop" disabled>
                            <i class="fas fa-stop"></i>
                            Stop Server</button>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="tooltip-wrapper" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Tooltip on bottom">
                        <button class="btn btn-danger btn-block server-action-btn" id="server-action-kill" disabled>
                            <i class="fas fa-skull-crossbones"></i>
                            Kill Server</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>