<div class="card border-dark mb-3 login-card">
    <div class="card-header">
        <div class="logo"><img src="/public/images/ssm_logo256.png" /></div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Logged Out Of SSM</h4>
        <p class="text-center">
            You have been logged out of SSM<br /><br />
            <a href="/login" class="btn btn-primary">Log Back In</a>
        </p>
    </div>
</div>