<div class="page-container" data-page="logs">
    <h2 class="mb-3">Logs</h2>
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Heads up!</strong> This page has not yet been updated!
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Select Server</h5>
        </div>
        <div class="card-body">
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Server:</b>
                    <span class="settings-info">
                        Select a Server instance to view logs on.
                    </span>
                </div>
                <div class="col-12 col-md-6">
                    <select class="form-control" id="inp_server" disabled>
                        <option value="-1">-- Select Server --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>SSM Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="ssm-log-viewer">
                        <samp>
                            This message should never show, There is an error somewhere!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Satisfactory Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="sf-log-viewer">
                        <samp>
                            This message should never show, There is an error somewhere!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>SMM Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="smlauncher-log-viewer">
                        <samp>
                            This message should never show, There is an error somewhere!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>