<div class="page-container" data-page="logs">
    <div class="row page-header">
        <div class="col-12 col-md-9">
            <h3 class="mb-3">Log Files</h3>
        </div>
        <div class="col-12 col-md-3">
            <select class="form-select" id="inp_server">
                <option value="-1">-- Select Server --</option>
            </select>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>SSM Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="ssm-log-viewer">
                        <samp>
                            This message should never show, There is an error somewhere!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Satisfactory Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="sf-log-viewer">
                        <samp>
                            This message should never show, There is an error somewhere!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Satisfactory Logins</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="sf-logins-viewer">
                        <samp>
                            This message should never show, There is an error somewhere!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>SMM Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="smlauncher-log-viewer">
                        <samp>
                            This message should never show, There is an error somewhere!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>