<div class="page-container" data-page="logs">
    <h2 class="mb-3">Logs</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>SSM Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="ssm-log-viewer">
                        <samp>
                            Hello World!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Satisfactory Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="sf-log-viewer">
                        <samp>
                            Hello World!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>SMM Logs</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="log-viewer" id="smlauncher-log-viewer">
                        <samp>
                            Hello World!
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>