<div class="page-container" data-page="dashboard">
    <h2 class="mb-3">Mods</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Add Mod</h5>
        </div>
        <div class="card-body">
            <div class="row">

            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Manage Mods</h5>
        </div>
        <div class="card-body">
            <div class="row">

            </div>
        </div>
    </div>
</div>