<div class="page-container" data-page="mods">
    <h2 class="mb-3">Mods</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Mod Status</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="status-info-card blue">
                        <div class="status-info-card-main">SML Status:</div>
                        <div class="status-info-card-secondary"><span id="sml-status"></span></div>
                        <div class="status-info-card-info">Version: <span id="sml-version"></span></div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-wrench"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="status-info-card green">
                        <div class="status-info-card-main">Mods:</div>
                        <div class="status-info-card-secondary"><span id="mod-count"></span></div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-pencil-ruler"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Add Mod</h5>
        </div>
        <div class="card-body">
            <div class="row">

            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Manage Mods</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="mods-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Version</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>