<div class="page-container" data-page="mods">
    <h2 class="mb-3">Mods</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Select Server</h5>
        </div>
        <div class="card-body">
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Server:</b>
                    <span class="settings-info">
                        Select a Server instance to manage mods on.
                    </span>
                </div>
                <div class="col-12 col-md-6">
                    <select class="form-control" id="inp_server">
                        <option value="-1">-- Select Server --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Mod Status</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="status-info-card blue">
                        <div class="status-info-card-main">SML Status:</div>
                        <div class="status-info-card-secondary"><span class="sml-status">Select A Server</span></div>
                        <div class="status-info-card-info">Version: <span class="sml-version"></span></div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-wrench"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="status-info-card green">
                        <div class="status-info-card-main">Mods:</div>
                        <div class="status-info-card-secondary"><span id="mod-count">Select A Server</span></div>
                        <div class="status-info-card-icon">
                            <i class="fas fa-pencil-ruler"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Install Mods</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-6 mb-4">
                    <div class="row">
                        <div class="col-6 col-md-6"><b>Installed SML Version:</b></div>
                        <div class="col-6 col-md-6"><span class="sml-version"></span></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <b>Install SML:</b>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-6">

                            <div class="custom-control custom-radio">
                                <input type="radio" id="radio-install-sml1" value="0" name="radio-install-sml" class="custom-control-input" checked="">
                                <label class="custom-control-label" for="radio-install-sml1">Latest Version</label>
                            </div>
                        </div>
                        <div class="col-6"><span class="sml-latest-version">latest-version</span></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="radio-install-sml2" name="radio-install-sml" class="custom-control-input" value="1">
                                <label class="custom-control-label" for="radio-install-sml2">Select Version</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <select id="sel-install-sml-ver" class="form-control">
                                <option selected value="-1">-- Select Version --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-12 col-lg-4">
                            <button id="btn-install-sml" class="btn btn-success btn-block">
                                <i class="fas fa-download"></i>
                                Install SML
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-6">
                    <div class="row">
                        <div class="col-12 col-md-4 text-center">
                            <img src="/public/images/ssm_logo128_outline.png" width="128px" height="128px" id="add-mod-logo" />
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="row mb-2">
                                <div class="col-12 col-lg-4"><b>Select Mod:</b></div>
                                <div class="col-12 col-lg-8">
                                    <select id="sel-add-mod-name" class="form-control">
                                        <option selected value="-1">-- Select Mod --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-lg-4"><b>Select Version:</b></div>
                                <div class="col-12 col-lg-8">
                                    <select disabled id="sel-add-mod-version" class="form-control">
                                        <option selected value="-1">-- Select Version --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button disabled id="btn-install-mod" class="btn btn-success btn-block">
                                        <i class="fas fa-download"></i> Install Mod
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Manage Mods</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="mods-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th width="100px"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>