<div class="page-container" data-page="saves">
    <h2 class="mb-3">Saves</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Select Server</h5>
        </div>
        <div class="card-body">
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Server:</b>
                    <span class="settings-info">
                        Select a Server instance to manage saves on.
                    </span>
                </div>
                <div class="col-12 col-md-6">
                    <select class="form-control" id="inp_server">
                        <option value="-1">-- Select Server --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Satisfactory Saves</h5>
        </div>
        <div class="card-body">
            <form id="save-upload-form" enctype="multipart/form-data">
                <fieldset>

                    <div class="row settings-row">
                        <div class="col-12 col-md-4">
                            <b class="settings-prop">Save File:</b>
                            <span class="settings-info">
                                The save file (.sav) to upload to the server
                            </span>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="file" name="savefile" id="inp-save-file"
                                    accept=".sav">
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <button class="btn btn-success btn-block" id="btn-save-upload"><i class="fas fa-upload"></i>
                                Upload</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <table class="table table-bordered" id="saves-table">
                <thead>
                    <tr>
                        <th width="220px">Session</th>
                        <th>Name</th>
                        <th>Last Updated</th>
                        <th width="150px">Options</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>