<div class="page-container" data-page="saves">
    <h2 class="mb-3">Saves</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Satisfactory Saves</h5>
        </div>
        <div class="card-body">
            <div class="alert alert-primary mb-4">
                <h4 class="alert-heading">Current Save:</h4>
                <span id="current-save"></span>
            </div>
            <table class="table table-bordered" id="saves-table">
                <thead>
                    <tr>
                        <th width="220px">Session</th>
                        <th>Name</th>
                        <th>Last Updated</th>
                        <th width="150px">Use Save</th>
                    </tr>
                </thead>
            </table>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success float-left" id="new-session-name">
                        <i class="fas fa-plus"></i>
                        New Session
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>