<div class="page-container" data-page="servers">
    <h2 class="mb-3">Servers</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Server List</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <button id="btn-createserver" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Create Server</button>
                </div>
            </div>
            <table class="table table-bordered" id="agents-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Running</th>
                        <th>Active</th>
                        <th>Version</th>
                        <th width=80px>Options</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>