<div class="page-container" data-page="server" data-agentid="{{{AGENTID}}}">
    <h2 class="mb-3">Server - <span id="server-name">SSMAgent{{{AGENTID}}}</span></h2>
    <div class="alert alert-dismissible alert-info">
        <strong>Heads up!</strong> This page has not been fully implemented!
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Server Information</h5>
        </div>
        <div class="card-body">
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Server Host:</b>
                    <span class="settings-info">
                        This is your Hostname to connect to the Server in game.</b>
                    </span>
                </div>
                <div class="col-12 col-md-8">
                    <b id="agent-publicip">1.2.3.4</b>
                </div>
            </div>
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Connection Port:</b>
                    <span class="settings-info">
                        This is the port number of the SF server.</b>
                    </span>
                </div>
                <div class="col-12 col-md-8">
                    <b id="agent-connectionport">15778</b>
                </div>
            </div>
             <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Server Version:</b>
                    <span class="settings-info">
                        This is the SF server version.</b>
                    </span>
                </div>
                <div class="col-12 col-md-8">
                    <b id="sfserver-version">0</b>
                </div>
            </div>
            <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Server Location:</b>
                        <span class="settings-info">
                            Satisfactory server installation location.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <b id="setting-info-serverloc"></b>
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Saves Location:</b>
                        <span class="settings-info">
                            Satisfactory server saves location.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <b id="setting-info-saveloc"></b>
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Logs Location:</b>
                        <span class="settings-info">
                            Satisfactory server log location.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <b id="setting-info-logloc"></b>
                    </div>
                </div>
        </div>
    </div>
    
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Satisfactory Server Settings</h5>
        </div>
        <div class="card-body">
            <form action="" method="" class="form-horizontal">
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Max Players:</b>
                        <span class="settings-info">
                            Number of players that can join the server.
                        </span>
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="range" class="form-control-range" id="inp_maxplayers" min="4" max="500" value="4"
                            disabled>
                    </div>

                    <div class="col-12 col-md-2">
                        <span id="max-players-value">0 / 500</span>
                    </div>
                </div>
                 <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Update Server On Start:</b>
                        <span class="settings-info">
                            Update Satisfactory server on start of SSM.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <input id="inp_updatesfonstart" type="checkbox" data-on="Enabled" data-off="Disabled"
                            data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-width="100"
                            data-size="small" disabled>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-warning float-left" id="edit-sf-settings"><i class="fas fa-edit"></i>
                        Edit</button>
                    <button disabled class="btn btn-success float-right" id="save-sf-settings"><i
                            class="fas fa-save"></i>
                        Save</button>
                    <button disabled class="btn btn-danger float-right mr-3" id="cancel-sf-settings"><i
                            class="fas fa-times"></i>
                        Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Mod Settings</h5>
        </div>
        <div class="card-body">
            <form action="" method="" class="form-horizontal">
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Enabled:</b>
                        <span class="settings-info">
                            Choose whether to use mods or not.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="checkbox">
                            <input id="inp_mods_enabled" type="checkbox" data-on="Enabled" data-off="Disabled"
                                data-onstyle="success" data-offstyle="danger" data-toggle="toggle"
                                data-width="100" data-size="small" disabled>
                        </div>
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Auto Update:</b>
                        <span class="settings-info">
                            Choose whether automatically update all mods to latest version.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="checkbox">
                            <input id="inp_mods_autoupdate" type="checkbox" data-on="Enabled" data-off="Disabled"
                                data-onstyle="success" data-offstyle="danger" data-toggle="toggle"
                                data-width="100" data-size="small" disabled>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-warning float-left" id="edit-mods-settings"><i class="fas fa-edit"></i>
                        Edit</button>
                    <button disabled class="btn btn-success float-right" id="save-mods-settings"><i
                            class="fas fa-save"></i>
                        Save</button>
                    <button disabled class="btn btn-danger float-right mr-3" id="cancel-mods-settings"><i
                            class="fas fa-times"></i>
                        Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Backup Settings</h5>
        </div>
        <div class="card-body">
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Backup Location:</b>
                    <span class="settings-info">
                        This is where the backups are saved to.
                    </span>
                </div>
                <div class="col-12 col-md-8">
                    <b id="backup-location"></b>
                </div>
            </div>
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Backup Interval:</b>
                    <span class="settings-info">
                        This is the interval between backups <b>(Hours)</b>
                    </span>
                </div>
                <div class="col-12 col-md-8">
                    <input type="number" name="" class="form-control" id="inp_backup-interval" value="0" disabled>
                </div>
            </div>
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Backups To Keep:</b>
                    <span class="settings-info">
                        This is the number of backup to keep
                    </span>
                </div>
                <div class="col-12 col-md-8">
                    <input type="number" name="" class="form-control" id="inp_backup-keep" value="0" disabled>
                </div>
            </div>
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Next Backup:</b>
                    <span class="settings-info">
                        This is when the next backup will take place
                    </span>
                </div>
                <div class="col-12 col-md-8">
                    <b id="backup-nextbackup">1</b>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-warning float-left" id="edit-backup-settings"><i class="fas fa-edit"></i>
                        Edit</button>
                    <button disabled class="btn btn-success float-right" id="save-backup-settings"><i
                            class="fas fa-save"></i>
                        Save</button>
                    <button disabled class="btn btn-danger float-right mr-3" id="cancel-backup-settings"><i
                            class="fas fa-times"></i>
                        Cancel</button>
                </div>
            </div>
        </div>

    </div>

    <div class="card border-danger mb-3">
        <div class="card-header">
            <h5>Danger Area!</h5>
        </div>
        <div class="card-body">
             <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Install/Reinstall Server:</b>
                        <span class="settings-info">
                            Install or Reinstall Satisfactory Server
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <button class="btn btn-danger" id="settings-dangerarea-installsf"><i
                                class="fas fa-download"></i> Install / Reinstall</button>
                    </div>
                </div>
            <div class="row settings-row">
                <div class="col-12 col-md-4">
                    <b class="settings-prop">Delete Server:</b>
                    <span class="settings-info">
                        Delete this server instance <b>( Deletes All Data )</b>
                    </span>
                </div>
                <div class="col-12 col-md-8">
                    <button class="btn btn-danger" id="server-dangerarea-delete"><i class="fas fa-trash"></i>
                        Delete Server</button>
                </div>
            </div>
        </div>
    </div>

</div>