<div class="page-container" data-page="settings">
    <h2 class="mb-3">Settings</h2>

    <div class="alert alert-info">
        <strong>Heads up!</strong> This page has not yet been updated!
    </div>

    
</div>