<div class="page-container" data-page="settings">
    <h2 class="mb-3">Settings</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Users</h5>
        </div>
        <div class="card-body">
           
        </div>
    </div>
</div>