<div class="page-container" data-page="settings">
    <h2 class="mb-3">Settings</h2>

    <div class="alert alert-info">
        <strong>Heads up!</strong> This page has not yet been updated!
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <button id="btn-addwebhook" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add Webhook</button>
            <h5>Webhooks</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="webhooks-table">
                <thead>
                    <tr>
                        <th width="50px">ID</th>
                        <th>Name</th>
                        <th>Enabled</th>
                        <th>Type</th>
                        <th width="60px">Options</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    
</div>