<div class="page-container" data-page="settings">
    <h2 class="mb-3">Settings</h2>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>SSM Settings</h5>
        </div>
        <div class="card-body">
            <form action="" method="" class="form-horizontal">
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Server Location:</b>
                        <span class="settings-info">
                            Satisfactory server installation location.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <input type="text" disabled class="form-control" placeholder="" id="inp_sf_serverloc">
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Saves Location:</b>
                        <span class="settings-info">
                            Satisfactory server saves location.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <input type="text" disabled class="form-control" placeholder="" id="inp_sf_saveloc">
                    </div>
                </div>
                 <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Logs Location:</b>
                        <span class="settings-info">
                            Satisfactory server log location.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <input type="text" readonly class="form-control" placeholder="" id="inp_sf_logloc">
                    </div>
                </div>
                 <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Update On SSM Start:</b>
                        <span class="settings-info">
                            Update Satisfactory server on start of SSM
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <input id="inp_updatesfonstart" type="checkbox" data-on="Enabled" data-off="Disabled"
                                data-onstyle="success" data-offstyle="danger" checked data-toggle="toggle"
                                data-width="100" data-size="small" disabled>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-warning float-left" id="edit-ssm-settings"><i class="fas fa-edit"></i>
                        Edit</button>
                    <button disabled class="btn btn-success float-right" id="save-ssm-settings"><i
                            class="fas fa-save"></i>
                        Save</button>
                    <button disabled class="btn btn-danger float-right mr-3" id="cancel-ssm-settings"><i
                            class="fas fa-times"></i>
                        Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h5>Mod Settings</h5>
        </div>
        <div class="card-body">
            <form action="" method="" class="form-horizontal">
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Enabled:</b>
                        <span class="settings-info">
                            Choose whether to use mods or not.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="checkbox">
                            <input id="inp_mods_enabled" type="checkbox" data-on="Enabled" data-off="Disabled"
                                data-onstyle="success" data-offstyle="danger" checked data-toggle="toggle"
                                data-width="100" data-size="small" disabled>
                        </div>
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Auto Update:</b>
                        <span class="settings-info">
                            Choose whether automatically update all mods to latest version.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="checkbox">
                            <input id="inp_mods_autoupdate" type="checkbox" data-on="Enabled" data-off="Disabled"
                                data-onstyle="success" data-offstyle="danger" checked data-toggle="toggle"
                                data-width="100" data-size="small" disabled>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-warning float-left" id="edit-mods-settings"><i class="fas fa-edit"></i>
                        Edit</button>
                    <button disabled class="btn btn-success float-right" id="save-mods-settings"><i
                            class="fas fa-save"></i>
                        Save</button>
                    <button disabled class="btn btn-danger float-right mr-3" id="cancel-mods-settings"><i
                            class="fas fa-times"></i>
                        Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>