html,
body {
    height: 100%;
}

body {
    background-color: #eee !important;
    color: #000;
    font-size: 12px;
}

.navbar .navbar-brand img {
    height: 32px;
}

.main-container {
    background: #fff;
    padding: 15px 15px 15px 15px;
    min-height: calc(100% - 58.41px);
    overflow: hidden;
}


.form-control {
    font-size: 13px;
}

.status-info-card {
    background: #eee;
    width: 100%;
    height: 100px;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #cccccc;
    color: #313131;
    padding: 8px 12px;
    position: relative;
}

.status-info-card.blue {
    background: #17a2b8;
    border-color: #1591a5;
    color: #fff;
}

.status-info-card.orange {
    background: #e99002;
    border-color: #d18202;
    color: #fff;
}

.status-info-card.green {
    background: #28a745;
    border-color: #24963e;
    color: #fff;
}

.status-info-card .status-info-card-main {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}

.status-info-card .status-info-card-secondary {
    font-size: 20px;
    font-weight: 700;

}

.status-info-card .status-info-card-icon {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 50px;
    color: #cccccc;
}

.status-info-card.blue .status-info-card-icon {
    color: #147e8f;
}

.status-info-card.orange .status-info-card-icon {
    color: #bb7401;
}

.status-info-card.green .status-info-card-icon {
    color: #1e8135;
}

.server-action-btn {
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
}

.server-action-btn:disabled {
    cursor: not-allowed;
}

.server-action-btn i {
    margin-right: 5px;
}

/* Settings Page */
.settings-row {
    margin-bottom: 15px;
}

.settings-row>div {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.settings-prop {
    font-size: 13px;
    display: block;
}

.settings-info {
    font-style: italic;
}

#refresh-saves {
    font-size: 13px;
}

#refresh-saves i {
    font-size: 14px;
    margin-right: 3px;
}


/* Bootstrap Toggles*/

.btn.toggle,
.btn.toggle label {
    cursor: pointer;
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}



/* Modals */

#server-action-error #error-msg {
    font-size: 13px;
    font-weight: bold;
}

#server-action-error .error-icon {
    font-size: 50px;
}


#server-action-success #success-msg {
    font-size: 13px;
    font-weight: bold;
}

#server-action-success .success-icon {
    font-size: 50px;
}

#server-action-confirm i {
    font-size: 50px;
}