html,
body {
    height: 100%;
}

body {
    color: #fff;
    font-size: 12px;
}

/* Toggle Styles */

#viewport {
    padding-left: 250px;
}

#viewport.minimal {
    padding-left: 75px;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
    padding-bottom: 55px;
}


/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #4f4f4f;
    transition: all 1s;
}

#viewport.minimal #sidebar {
    left: 75px;
    width: 75px;
    height: 100%;
    margin-left: -75px;
}

#sidebar .navbar {
    padding: 0;
    margin: 0;
}

#sidebar .navbar-header {
    background-color: #333333;
    line-height: 52px;
    text-align: center;
    font-family: "hemihead";
    display: block;
    width: 100%;
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 0;
    position: relative;
    height: 68px;
}

#sidebar .navbar-brand {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 128px;
}

#sidebar .navbar-brand:hover {
    color: #fff;
}

#sidebar .navbar-brand img {
    width: 64px;
}

#sidebar .navbar-toggler {
    position: absolute;
    top: 11px;
    right: 12px;
}

#sidebar .navbar-collapse {
    width: 100%;
}

#sidebar .navbar-nav {
    width: 100%;
}

#sidebar .nav-item {
    display: block;
    width: 100%;
}

#sidebar .nav-item a {
    background: none;
    border-bottom: 1px solid #686868;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
}

#sidebar .nav-item a:hover {
    background: none;
    color: #ECEFF1;
}

#sidebar .nav-item a i {
    margin-right: 16px;
}

#viewport.minimal #sidebar .nav-item a i {
    font-size: 26px;
}

#viewport.minimal #sidebar .nav-item a span {
    display: none;
}

.dropdown-menu {
    position: relative !important;
    background-color: #333333;
    margin: 0;
    padding: 0;
}

.main-container {
    padding: 15px 15px 15px 15px;
    min-height: calc(100% - 58.41px);
    overflow: hidden;
    position: relative;
    padding-bottom: 55px;
}

.page-header {
    padding-top: 12px;
    background-color: #333;
    margin-bottom: 12px;
}

.page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.page-footer a {
    font-weight: bold;
    color: #fff;
}

.form-control {
    font-size: 13px;
}

.btn {
    font-size: 13px;
}

.btn i {
    font-size: 14px;
}

.hidden {
    display: none;
}


/* Dashboard Page*/

.status-info-card {
    background: #eee;
    width: 100%;
    height: 45px;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #cccccc;
    color: #313131;
    padding: 8px 12px;
    position: relative;
    margin-bottom: 8px;
    margin-top: 0;
}

.status-info-card.blue {
    background: #17a2b8;
    border-color: #1591a5;
    color: #fff;
}

.status-info-card.orange {
    background: #e99002;
    border-color: #d18202;
    color: #fff;
}

.status-info-card.green {
    background: #28a745;
    border-color: #24963e;
    color: #fff;
}

.status-info-card .status-info-card-main {
    font-size: 15px;
    font-weight: 700;
    line-height: 29px;
    display: inline-block;
    margin-right: 10px;
}


.status-info-card .status-info-card-secondary {
    font-size: 15px;
    font-weight: 700;
    line-height: 29px;
    display: inline-block;
}

.status-info-card .status-info-card-icon {
    position: absolute;
    right: 20px;
    top: 7px;
    font-size: 20px;
    line-height: 29px;
    color: #cccccc;
}

.status-info-card.blue .status-info-card-icon {
    color: #147e8f;
}

.status-info-card.orange .status-info-card-icon {
    color: #bb7401;
}

.status-info-card.green .status-info-card-icon {
    color: #1e8135;
}

.server-action-btn {
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
}

.server-action-btn:disabled {
    cursor: not-allowed;
}

.server-action-btn i {
    margin-right: 5px;
}

#cpu-usage,
#ram-usage {
    max-width: calc(100% - 80px)
}

.progress-bar-wrapper {
    width: 100%;
    height: 150px;
    position: relative;
}


.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    display: inline-block;
}

.circle:last-child {
    position: absolute;
    right: 0;
    top: 0;
    left: unset;
}

.circle strong {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.circle h6 {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}


/* Mods Page*/

#sml-install {
    padding: 0 8px;
}


/* Logs Page */

.log-viewer {
    max-height: 400px;
    overflow-x: auto;
}

.log-viewer p {
    margin-bottom: 2px;
}


/* Settings Page */

.settings-row {
    margin-bottom: 15px;
}

.settings-row>div {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.settings-prop {
    font-size: 13px;
    display: block;
}

.settings-info {
    font-style: italic;
}

#refresh-saves {
    font-size: 13px;
}

#refresh-saves i {
    font-size: 14px;
    margin-right: 3px;
}

#show-sf-password {
    cursor: pointer;
}

.select-save-btn {
    font-size: 13px;
    padding: 5px 12px;
}


/* Bootstrap Toggles*/

.btn.toggle,
.btn.toggle label {
    cursor: pointer;
    margin-bottom: 0 !important;
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}


/* Modals */

.ssm-modal i {
    font-size: 50px;
}

.ssm-modal i.fa-nonmodal {
    font-size: 14px;
}

.ssm-modal .ul-nowizard {
    padding-left: 20px;
    margin-bottom: 10px;
}

.ssm-modal .ssm-modal-msg {
    font-size: 13px;
    font-weight: bold;
}

.ssm-modal .input-group i,
.ssm-modal .btn i {
    font-size: unset;
}


/* Toasts */

#toast-container>.toast {
    opacity: 1;
}

#toast-container>.toast-info:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f129";
    font-size: 25px;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container>.toast-info {
    background: #008cba !important;
}

#toast-container>.toast-error:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f12a";
    font-size: 25px;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container>.toast-error {
    background: #F04124 !important;
}

#toast-container>.toast-success:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container>.toast-success {
    background: #43ac6a !important;
}

#toast-container>.toast-warning:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f071";
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container>.toast-warning {
    background: #E99002 !important;
}

#toast-container .toast-message {
    font-size: 12px;
}

.wizard>.steps>ul>li {
    width: 20%;
}

#permissions-accordion h4 {
    position: relative;
    font-size: 14px;
}

#permissions-accordion h4 .form-check-input {
    margin-left: 0px;
    margin-top: unset;
    left: 12px;
    top: 10px;
    z-index: 100;
    width: 18px;
    height: 18px;
}

#permissions-accordion h4 button {
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width:991px) {
    #viewport {
        padding-left: 0 !important;
    }

    #viewport.minimal {
        padding-left: 0 !important;
    }

    #viewport.minimal #sidebar,
    #viewport #sidebar {
        z-index: 1000;
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        margin-left: 0;
        overflow-y: auto;
        background: #4f4f4f;
    }

    #viewport #sidebar .nav-item a span,
    #viewport.minimal #sidebar .nav-item a span {
        display: inline;
    }

    #viewport #sidebar .nav-item a i,
    #viewport.minimal #sidebar .nav-item a i {
        display: inline;
        font-size: 14px;
    }

    .server-action-btn {
        font-size: 13px;
    }
}